a, a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}

.btn-default, .btn-default:hover, .btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: black;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    position: relative;
    /*background-image: url("../images/circuit_7.jpg");*/
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

.game {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: black /*#09C701*/;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
}
.game header a, .game header nav a, .game header nav .active a, .game header nav .active a:hover {
  color: yellow;
}

.race {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 10%;
  table-layout: fixed;
  width: 100%;
  background-color: black;
  color: orange;
  margin-top: 5px;
  font-size: 1.3em;
}

.defile {
    font-family: digital;
    font-size: 1.2em;
    display: block;
    -webkit-animation: linear slidingrules 20s infinite;
    -moz-animation: linear slidingrules 20s infinite;
    -o-animation: linear slidingrules 20s infinite;
    -ms-animation: linear slidingrules 20s infinite;
    animation: linear slidingrules 20s infinite;
    margin-left: -100%;
    padding: 0;
    text-align: left;
    height: 27px;
}

@-webkit-keyframes slidingrules {
    0%, 100% {
        margin-left: 0;
    }
    99.99% {
        margin-left: -100%;
    }
}

@-moz-keyframes slidingrules {
    0%, 100% {
        margin-left: 0;
    }
    99.99% {
        margin-left: -100%;
    }
}

@-o-keyframes slidingrules {
    0%, 100% {
        margin-left: 0;
    }
    99.99% {
        margin-left: -100%;
    }
}

@-ms-keyframes slidingrules {
    0%, 100% {
        margin-left: 0;
    }
    99.99% {
        margin-left: -100%;
    }
}

@keyframes slidingrules {
    0%, 100% {
        margin-left: 0;
    }
    99.99% {
        margin-left: -100%;
    }
}

.defile:after {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    padding-left: 10px;
}
.posrel, .game-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
}
.posrel {
  justify-content: center;
  align-items: flex-end;
  background-color: black;
  padding-top: 3px;
}
.game-ctn {
  width: 1020px;
  height:550px;
}
#image {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
}



/*#coord {
  position:fixed;
  top:20px;
  left:20px;
}
#score {
  position:fixed;
  top:40px;
  left:20px;
}*/

.masthead, .mastfoot, .cover-container {
    width: 100%;
}

.alex {
    height: 100vh;
}

.background-fix {
    position: absolute;
    left: -1%;
    top: -1%;
    right: 0;
    z-index: 1;
    display: block;
    width: 102%;
    height: 102%;
    min-height: 100%;
    background-color: rgba(70, 70, 70, 0.4);
}

.full-width-bckgrnd {
    display: block;
    background-image: url("../images/road_pattern1.jpg");
    background-repeat: repeat repeat;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    min-height: 100%;
    /* For at least Firefox */
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: block;
    vertical-align: top;
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.lead.btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.start_btn {
    height: 100%;
}

.start_btn:hover {
    animation: myMove 0.5s infinite;
    cursor: pointer;
}

@keyframes myMove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.alert-modal, .landscape-alert {
  display: none;
}

.alert-modal:target {
    display: block;
}

.modal-block {
    margin: 15% auto 0 auto;
    background: #fefefe;
    border: #ddd solid 1px;
    border-radius: 5px;
    width: 40%;
    display: block;
    text-shadow: none;
}

.modal-head {
    border-bottom: 1px solid #ddd;
}

.modal-head h3 {
    margin: 5px;
    font-size: 1.5em;
    color: rgb(218, 41, 28);
}

.modal-cont, .modal-foot {
    padding: 7px;
}

.modal-btn {
    background-color: rgb(218, 41, 28);
}

.modal-btn:hover {
    color: white;
}

.lead {
    margin-top: 5px !important;
}


/* Padding for spacing */

.inner {
    padding: 10px 30px 10px 30px;
}

.cover .lead:nth-child(3) {
    margin-bottom: 3px;
}

.inner.cover {
    padding-top: 12%;
    position: relative;
    height: 100%;
    z-index: 4;
}

.cover-heading {
    color: rgb(218, 41, 28);
    font-family: digital;
    font-size: 3.5em;
    margin: 20px;
}

.masthead {
    padding-bottom: 5px;
    font-family: faster;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    height: 11%;
    z-index: 10;
}
.brand {
    float: left;
    display: flex;
    height: 100%;
}
.logo {
    float: left;
    height: 80%;
    width: auto;
    margin-right: 10px;
    margin-bottom: 3px;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}
.masthead-brand a {
  color: black;
}

.nav.masthead-nav {
    float: right;
    padding-top: 1%;
    margin-right: 3%;
}

.masthead-nav>li {
    display: inline-block;
}

.masthead-nav>li+li {
    margin-left: 20px;
}

.masthead-nav>li>a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    color: #fff;
    /* IE8 proofing */
    color: rgba(218, 41, 28, 0.75);
    border-bottom: 3px solid transparent;
    color: black;
    font-size: 1em;
    padding-top: 5px !important;
}

.masthead-nav>li>a:hover, .masthead-nav>li>a:focus {
    background-color: transparent;
    border-bottom-color: rgb(218, 41, 28);
    border-bottom-color: rgba(218, 41, 28, 0.25);
}

.masthead-nav>.active>a, .masthead-nav>.active>a:hover, .masthead-nav>.active>a:focus {
    color: black;
    border-bottom-color: rgb(218, 41, 28);
}


.cover {
    padding: 20px;
    width: 100%;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.mastfoot {
    color: #999;
    color: rgba(255, 255, 255, .5);
    position: fixed;
    bottom: 0;
    color: rgb(218, 41, 28);
    z-index: 5;
}


.icon-github {
    font-size: 2em;
    color: black;
}

.icon-github.ibni:hover {
    color: #493BD3;
}

.icon-github.mohamed:hover {
    color: #25DD26;
}

.icon-github.alex:hover {
    color: #FF63B8;
}


/*Keyframe for JS effect*/

.slider {
    transform: translateX(5000px);
    transition-duration: 3s
}
/*@keyframes slider {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5000px);
  }
  to {
    display: none;
  }
}*/

/*Media query for iPad*/
/*Portrait only*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  body {
    overflow-x: hidden;
  }
  .landscape-alert {
    background-color: rgba(0, 0, 0, 0.97);
  }
  .landscape-alert, .landscape-alert-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landscape-alert-ctn {
    width: 75%;
    margin-top: 40%;
  }
  .landscape-icon {
    width: 15%;
  }
  .landscape-txt {
    color: white;
  }
  .modal-block {
      margin-top: 35%;
      width: 80%;
      z-index: 99;
  }
  .inner.cover {
      padding-top: 25%;
  }
  .cover-heading {
      margin-bottom: 20px;
      font-size: 2.5em;
  }
  .lead {
      line-height: 1.3em;
  }
  .masthead {
      height: 17%;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
  }
  .brand {
    height: 55%;
    width: 100%;
  }
  .logo {
    height:80%;
  }
  .masthead-brand {
      font-size: 2.5em;
      margin-right: 12%;
  }
  .nav.masthead-nav {
      width: 100%;
      margin: 0 auto 5px auto;
      padding: 0;
  }
  .nav.masthead-nav li a {
      padding: 0;
  }
  .start_btn {
    height: 70%;
  }
  .modal-head h3 {
    font-size: 1.7em;
  }
  .modal-cont {
    padding: 15px 10px 0 10px;
  }
  .modal-cont p, .modal-foot a {
    font-size: 1.2em;
  }
  .rules {
      display: none;
  }
  .posrel {
      margin-top: 10%;
  }
}
/*Landscape only*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .start_btn {
    height: 70%;
  }
  .modal-head h3 {
    font-size: 1.7em;
  }
  .modal-cont {
    padding: 15px 10px 0 10px;
  }
  .modal-cont p, .modal-foot a {
    font-size: 1.2em;
  }

}

/*Media query for iPhone 6*/
/*Portrait only*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    body {
      overflow-x: hidden;
    }
    .landscape-alert {
      background-color: rgba(0, 0, 0, 0.97);
    }
    .landscape-alert, .landscape-alert-ctn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .landscape-alert-ctn {
      width: 75%;
      margin-top: 40%;
    }
    .landscape-icon {
      width: 15%;
    }
    .landscape-txt {
      color: white;
    }
    .modal-block {
        margin-top: 35%;
        width: 80%;
        z-index: 99;
    }

    .inner.cover {
        padding-top: 25%;
    }
    .cover-heading {
        margin-bottom: 20px;
        font-size: 2.5em;
    }
    .lead {
        line-height: 1.3em;
    }
    .masthead {
        height: 17%;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
    }
    .brand {
      height: 55%;
    }
    .logo-link {
      width: 15%;
    }
    .logo {
      height:80%;
    }
    .masthead-brand {
        font-size: 1.9em;
        margin-left: 6%;
    }
    .nav.masthead-nav {
        width: 100%;
        margin: 0 auto 5px auto;
        padding: 0;
    }
    .nav.masthead-nav li a {
        padding: 0;
    }
    .start_btn {
      height: 50%;
    }
    .rules {
        display: none;
    }
    .posrel {
        margin-top: 10%;
    }
}
/*Landscape only*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .masthead {
      height: 12%;
      padding: 0;
      font-size: 1.2em;
  }
  .masthead-brand {
    font-size: 1.6em;
    padding-left: 5%;
  }
  .brand, .nav.masthead-nav {
    float: none;
  }
  .brand {
    padding: 0;
    float: none;
  }

  .logo {
    height:100%;
  }
  .nav.masthead-nav {
    margin: 0;
    padding: 0;
  }
  .masthead-nav>li>a {
    padding-bottom: 5px;
    font-size: 1em;
  }
  .cover-heading {
    font-size: 1.5em;
  }
  .lead.btn-cont {
    height: 20%;
  }
  .lead {
    font-size: 1em;
  }
  .btn-cont {
    padding: 0;
  }
  .start_btn {
    width: 10%;
    padding: 0;
  }
  .inner {
    padding: 0;
  }
  .mastfoot .inner p {
    font-size: 0.8em;
  }
  .icon-github {
    font-size: 1.3em;
  }
  .modal-block {
    margin: 12.3% auto 0 auto;
    width: 60%;
  }
  .modal-head h3 {
    font-size: 1.3em;
  }
  .modal-cont {
    padding: 15px 10px 0 10px;
  }
  .modal-cont p, .modal-foot a {
    font-size: 0.9em;
  }
}
