@font-face {
    font-family: 'breecbo';
    src: url('../fonts/BREECBO_.TTF');
}
@font-face {
    font-family: 'dymaxion';
    src: url('../fonts/DymaxionScript.ttf');
}
@font-face {
    font-family: 'blazed';
    src: url('../fonts/Blazed.ttf');
}
@font-face {
    font-family: 'faster';
    src: url('../fonts/FasterOne-Regular.ttf');
}
@font-face {
    font-family: 'digital';
    src: url('../fonts/digital-7.ttf');
}
