body {
  overflow: auto !important;
  position: relative;
  height: 100%;
  width: 100%;
}
a, a:hover {
  color:  #2D2C2F;
}
.about-footer {
  position: absolute;
  bottom: -180%;
}
.contact-footer {
  position: absolute;
  bottom: -60%;
}
.full-width-ctn {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}
.full-about, .full-contact {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-about {
  background-image: url(../images/intro-full-width.jpg);
  height: 80%;
}
.full-contact {
  background-image: url(../images/full-contact.jpg);
  height: 80%;
}
.motto-ctn {
}
.motto-ctn p {
  font-size: 3em;
  color: white;
  font-weight: bold;
}
.about-desc {
  background-image: linear-gradient(180deg, #eee, #fff);
}
.about-desc {
  padding: 3% 20% 3% 20%;
  text-shadow: none;
}
.about-desc>* {
  color: #2D2C2F;
}
.about-desc h3 {
  font-size: 2.1em;
  font-weight: bold;
}
.about-desc h4 {
  font-size: 1.875em;
  padding-bottom: 15px;
}
.about-desc p {
  margin-top: 15px;
  font-size: 1.3em;
  text-align: justify;
}
.form-horizontal {
  margin: 3%;
}
.contact-intro h4, .contact-intro p {
  text-align: left;
  padding-left: 19%;
  color: #2D2C2F;
  text-shadow: none;
}
.contact-intro h4 {
  font-weight: bold;
  font-size: 1.5em;
}
.code-zone {
  font-family: code;
  background-color: #292D30;
  color:white;
  font-size: 0.8em;
}
.code-red {
  color: #FF747A;
}


/*Media query for iPhone 6*/
/*Portrait only*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  .full-about {
    background-image: url(../images/intro-full-width-small.jpg);
    height: 40%;
  }
  .full-contact {
    background-image: url(../images/full-contact-small.jpg);
    height: 40%;
  }
  .motto-ctn p {
    font-size: 2em;
    margin-top: 25%;
    padding: 10px;
  }
  .about-desc {
    padding: 5%;
  }
  .contact-intro h4, .contact-intro p {
    text-align: center;
    padding: 2%;
  }
  .about-footer {
    position: absolute;
    bottom: -130%;
  }
  .contact-footer {
    position: absolute;
    bottom: -35%;
  }
}
