.road-right {
    width: 90px;
    height: 429px;
    position: absolute;
    /*border: 1px solid black;*/
    bottom: 116px;
    left: 930px;
    cursor: url(../images/red_car_left_haut_droit.png), auto;
    z-index: 2;
  }
.score-table {
  font-family: digital;
  font-weight: bold;
  font-size: 25px;
  z-index: 5;
  position: absolute;
  top:0;
  left:10px;
  text-align: left;
  color : red;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 5px black;
}
#num-score {
}
#num-life {
}
#life {
  color: red;
}
#score {
  color: yellow;
}
#msg {
  width: 40%;
  display: none;
  margin: 50% auto;
}
.road-bottom {
    left: 387px;
    bottom: 56px;
    width: 542px;
    height: 70px;
    /*border: 1px solid black;*/
    position: absolute;
    cursor: url(../images/red_car_right.png), auto;
}

.road-right-Btmr-corner {
    width: 88px;
    height: 82px;
    /*border: 1px solid black;*/
    left: 928px;
    bottom: 61px;
    position: absolute;
    cursor: url(../images/red_car_right_trav.png), auto;
}
'
.road-right-topr-corner {
    width: 69px;
    height: 66px;
    /*border: 1px solid black;*/
    left: -9px;
    bottom: 534px;
    position: absolute;
    cursor: url(../images/red_car_left_bas.png), auto;
}

.road-right-topr {
    width: 591px;
    height: 123px;
    /*border: 1px solid black;*/
    left: 366px;
    bottom: 476px;
    position: absolute;
    cursor: url(../images/red_car_left.png), auto;
}

.road-left-topl {
    width: 308px;
    height: 66px;
    /*border: 1px solid black;*/
    left: 59px;
    bottom: 534px;
    position: absolute;
    cursor: url(../images/red_car_left.png), auto;
}

.middle-top {
    width: 78px;
    height: 31px;
    /*border: 1px solid black;*/
    left: 289px;
    bottom: 504px;
    position: absolute;
    cursor: url(../images/red_car_left_haut.png), auto;
}

.middle-road {
    left: 287px;
    bottom: 356px;
    width: 192px;
    height: 79px;
    /*border: 1px solid black;*/
    position: absolute;
    cursor: url(../images/red_car_right_bas.png), auto;
    transform: rotate(60deg);
}

.middle-bottom {
    width: 78px;
    height: 20px;
    /*border: 1px solid black;*/
    left: 289px;
    bottom: 485px;
    position: absolute;
    cursor: url(../images/red_car_left.png), auto;
}

.road-left-topl-corner {/*
    width: 308px;
    heigh*/t: 66px;
    /*border: 1px solid black;*/
    left: 57px;
    bottom: 490px;
    position: absolute;
    cursor: url('../images/red_car_left.png'), auto;
}

.road-left-topl-corner {
    width: 69px;
    height: 66px;
    /*border: 1px solid black;*/
    left: -9px;
    bottom: 534px;
    position: absolute;
    cursor: url(../images/red_car_left_bas.png), auto;
}

.road-left {
    width: 83px;
    height: 423px;
    position: absolute;
    /*border: 1px solid black;*/
    bottom: 112px;
    left: -11px;
    cursor: url(../images/red_car_bas.png), auto;
}

.road-left-Btml-corner {
    width: 88px;
    height: 54px;
    /*border: 1px solid black;*/
    left: 0px;
    bottom: 10px;images/
    position: absolute;
    cursor: url(''), auto;
}

.road-left-Btml {
    width: 110px;
    height: 63px;
    /*border: 1px solid black;*/
    left: 89px;
    bottom: 57px;
    position: absolute;
    cursor: url(../images/red_car_right.png), auto;
}

.trav1 {
    left: 169px;
    bottom: 143px;
    width: 269px;
    height: 58px;
    /*border: 1px solid black;*/
    position: absolute;
    transform: rotate(145deg);
    cursor: url(../images/red_car_right_trav.png), auto;
}

.dir {
    left: 251px;
    bottom: 126px;
    width: 100px;
    height: 9px;
    /*border: 1px solid black;*/
    position: absolute;
    transform: rotate(145deg);
    cursor: url(../images/red_car_right.png), auto;
}

.trav2 {
    left: 296px;
    bottom: 53px;
    width: 99px;
    height: 94px;
    /*border: 1px solid black;*/
    position: absolute;
    transform: rotate(145deg);
    cursor: url(../images/red_car_right_ba.png), auto;
}
.corner-right {
    width: 64px;
    height: 55px;
    /*border: 1px solid black;*/
    left: 956px;
    bottom: 544px;
    position: absolute;
    cursor: url(../images/red_car_left_haut.png), auto;
}
.corner-left {
    width: 97px;
    height: 56px;
    /*border: 1px solid black;*/
    left: -7px;
    bottom: 57px;
    position: absolute;
    cursor: url(../images/red_car_right_ba.png), auto;
}
.race {
  margin-left: 100px;
}

.posrel {
  position: relative;
}
