.road-right {
    width: 7%;
    height: 75%;
    position: absolute;
    /*border: 1px solid black;*/
    bottom: 15%;
    left: 93%;
    cursor: url(../images/red_car_left_haut_droit.png), auto;
    z-index: 2;
  }
label {
  z-index: 10;
}
.road-bottom {
    left: 39%;
    bottom: 0%;
    width: 55%;
    height: 15%;
    /*border: 1px solid black;*/
    position: absolute;
    cursor: url(../images/red_car_right.png), auto;
}

.road-right-Btmr-corner {
    width: 6%;
    height: 15%;
    /*border: 1px solid black;*/
    left: 94%;
    bottom: 0%;
    position: absolute;
    cursor: url(../images/red_car_right_trav.png), auto;
}
'
.road-right-topr-corner {
    width: 69px;
    height: 66px;
    /*border: 1px solid black;*/
    left: -9px;
    bottom: 534px;
    position: absolute;
    cursor: url(../images/red_car_left_bas.png), auto;
}

.road-right-topr {
    width: 59%;
    height: 26%;
    /*border: 1px solid black;*/
    left: 36%;
    bottom: 77%;
    position: absolute;
    cursor: url(../images/red_car_left.png), auto;
}

.road-left-topl {
    width: 29%;
    height: 14%;
    /*border: 1px solid black;*/
    left: 7%;
    bottom: 89%;
    position: absolute;
    cursor: url(../images/red_car_left.png), auto;
}

.middle-top {
    width: 8%;
    height: 6%;
    /*border: 1px solid black;*/
    left: 28%;
    bottom: 83%;
    position: absolute;
    cursor: url(../images/red_car_left_haut.png), auto;
}

.middle-road {
    left: 31%;
    bottom: 54%;
    width: 15%;
    height: 15%;
    /*border: 1px solid black;*/
    position: absolute;
    cursor: url(../images/red_car_right_bas.png), auto;
    transform: rotate(53deg);
}

.middle-bottom {
    width: 8%;
    height: 6%;
    /*border: 1px solid black;*/
    left: 28%;
    bottom: 77%;
    position: absolute;
    cursor: url(../images/red_car_left.png), auto;
}

.road-left-topl-corner {/*
    width: 308px;
    heigh*/t: 66px;
    /*border: 1px solid black;*/
    left: 57px;
    bottom: 490px;
    position: absolute;
    cursor: url('../images/red_car_left.png'), auto;
}

.road-left-topl-corner {
    width: 7%;
    height: 11%;
    /*border: 1px solid black;*/
    left: 0%;
    bottom: 89%;
    position: absolute;
    cursor: url(../images/red_car_left_bas.png), auto;
}

.road-left {
    width: 8%;
    height: 77%;
    position: absolute;
    border: 1px solid black;
    bottom: 12%;
    left: -1%;
    cursor: url(../images/red_car_bas.png), auto;
}

.road-left-Btml-corner {
    width: 88px;
    height: 54px;
    /*border: 1px solid black;*/
    left: 0px;
    bottom: 10px;images/
    position: absolute;
    cursor: url(''), auto;
}

.road-left-Btml {
    width: 12%;
    height: 12%;
    /*border: 1px solid black;*/
    left: 7%;
    bottom: 1px;
    position: absolute;
    cursor: url(../images/red_car_right.png), auto;
}

.trav1 {
    left: 16%;
    bottom: 16%;
    width: 25%;
    height: 14%;
    /*border: 1px solid black;*/
    position: absolute;
    transform: rotate(145deg);
    cursor: url(../images/red_car_right_trav.png), auto;
}

.dir {
    left: 26%;
    bottom: 14%;
    width: 7%;
    height: 2%;
    /*border: 1px solid black;*/
    position: absolute;
    transform: rotate(145deg);
    cursor: url(../images/red_car_right.png), auto;
}

.trav2 {
    left: 28%;
    bottom: -6%;
    width: 11%;
    height: 24%;
    /*border: 1px solid black;*/
    position: absolute;
    transform: rotate(145deg);
    cursor: url(../images/red_car_right_ba.png), auto;
}
.corner-right {
    width: 5%;
    height: 10%;
    /*border: 1px solid black;*/
    left: 95%;
    bottom: 90%;
    position: absolute;
    cursor: url(../images/red_car_left_haut.png), auto;
}
.corner-left {
    width: 7%;
    height: 12%;
    /*border: 1px solid black;*/
    left: 0%;
    bottom: 0%;
    position: absolute;
    cursor: url(../images/red_car_right_ba.png), auto;
}
.race {
  margin-left: 100px;
}

#coord {

}
.posrel {
  position: relative;
}
.centre {
  margin-left: auto;
  margin-right: auto;
}
.container-image {
    height: 459px;
    width: 900px;
    /*border: 1px solid black;*/
}

.coins-haut-droite {
    width: 5%;
    height: 10%;
    border: 1px solid black;
    left: 98%;
    bottom: 88%;
    position: absolute;
    cursor: url(../images/red_car_left_haut_explosion_R.png), auto;
    border-bottom-left-radius: 145%;
}

.coins-haut-droite2 {
    width: 5%;
    height: 10%;
    border: 1px solid black;
    left: 96%;
    bottom: 93%;
    position: absolute;
    cursor: url(../images/red_car_left_haut_explosion_R.png), auto;
    border-bottom-left-radius: 145%;
}

.coins-haut-droite3 {
    width: 5%;
    height: 10%;
    border: 1px solid black;
    left: 93%;
    bottom: 96%;
    position: absolute;
    cursor: url(../images/red_car_left_haut_explosion_R.png), auto;
    border-bottom-left-radius: 145%;
}

.accdnt-haut {
    width: 89%;
    height: 5%;
    border: 1px solid black;
    left: 6%;
    bottom: 103%;
    position: absolute;
    cursor: url(../images/red_car_left_explosion_R.png), auto;
}

.coins-haut-gauche {
    width: 7%;
    height: 11%;
    border: 1px solid black;
    left: -5%;
    bottom: 93%;
    position: absolute;
    cursor: url(../images/red_car_left_bas_explosion_R.png), auto;
    border-bottom-right-radius: 145%;
}

.coins-haut-gauche2 {
    width: 7%;
    height: 11%;
    border: 1px solid black;
    left: -7%;
    bottom: 84%;
    position: absolute;
    cursor: url(../images/red_car_left_bas_explosion_R.png), auto;
    border-bottom-right-radius: 145%;
}

.coins-haut-gauche3 {
    width: 7%;
    height: 11%;
    border: 1px solid black;
    left: 2%;
    bottom: 99%;
    position: absolute;
    cursor: url(../images/red_car_left_bas_explosion_R.png), auto;
    border-bottom-right-radius: 145%;
}

.accdnt-gauche {
    width: 3%;
    height: 77%;
    position: absolute;
    border: 1px solid black;
    bottom: 12%;
    left: -4%;
    cursor: url(../images/red_car_bas_explosion_R.png), auto;
}

#image {
  width: 100%;
  height: 100%;
}
